.nava{
    background: navajowhite;
}

.nava-text {
    color: black;
}




.pink{
    background: hotpink;
}

.pink-text {
    color: yellow;
}
.yellow {
    background: yellow;
}

.yellow-text {
    color: gray;
}





.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}